#home           {position:fixed;
	             left:10%;
				 top:30px;
				 font-family:"AR DESTINE";
				 font-size:30px;
				 font-weight:bold;
				 text-shadow:4px 8px 5px black;
				 transition:font-size 1s;
				 }
    
	#home:hover {font-size:45px;
	                 color:blue;
	                 transition-timing-function:ease-out;
					}
						
	#academic   {position:fixed;
				 left:25%;
				 top:30px;
				 font-family:"AR DESTINE";
				 font-size:30px;
				 font-weight:bold;
				 text-shadow:4px 8px 5px black;
				 transition:font-size 1s;
				 
				 }
	 
	#academic:hover {font-size:45px;
	                transition-timing-function:ease-out;
				    }
    
	#interest {position:fixed;
	             left:46%;
				 top:30px;
				 font-size:30px;
				 font-weight:bold;
				 font-family:"AR DESTINE";
				 text-shadow:4px 8px 5px black;
				 transition:font-size 1s;
				 }
    
	#interest:hover {font-size:45px;
	                    transition-timing-function:ease-out;
						}
	                  
	#contact    {position:fixed;
				 left:65.5%;
				 top:30px;
				 font-size:30px;
				 font-weight:bold;
				 font-family:"AR DESTINE";
				 text-shadow:4px 8px 5px black;
				 transition:font-size 1s;
				 }
				 
	#contact:hover {font-size:45px;
	                transition-timing-function:ease-out;
					}   
	                    
						
	a         {text-decoration:none;
               color:#A90D0D;}					